[submodule "External/hlsl2glslfork"]
	path = External/hlsl2glslfork
	url = https://github.com/qq573011406/hlsl2glslfork.git
[submodule "External/dxEffectsParser"]
	path = External/dxEffectsParser
	url = https://github.com/qq573011406/dxEffectsParser.git
